<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="order_comment" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Comment</label>
            <tab>sales</tab>
            <resource>AHT_OrderComment::config_ordercomment</resource>
            <group id="order_comment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Comment</label>
                <field id="order_comment_show_hidden" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List Mode</label>        
                 <source_model>AHT\OrderComment\Model\Config\Source\ListMode</source_model>
             </field>
         </group>
     </section>
 </system>
</config>
